
/CursosBitlab-ejb/build/
/CursosBitlab-ejb/dist/
/CursosBitlab-ejb/nbproject/
/CursosBitlab-ejb/build.xml


/CursosBitlab-war/nbproject/
/CursosBitlab-war/dist/
/CursosBitlab-war/build/
/CursosBitlab-war/build.xml



/build/
/nbproject/
/dist/
/build.xml
#prueba






